.home-quick-menu {
  @apply max-w-[1800px] w-full mx-auto mt-15 laptop:mt-7.5;
}

.home-quick-menu__list {
  @apply grid grid-cols-4 gap-1 laptop:grid-cols-3;
}

.home-quick-menu__list-item {
  @apply bg-semi-dark-gray text-white py-[15px] px-[25px];
}

.home-quick-menu__list-item:first-child {
  @apply laptop:hidden;
}

.home-quick-menu__list-item__image {
  @apply mx-auto w-11.5 h-11.5 laptop:w-8 laptop:h-8;
}

.home-quick-menu__list-item button {
  @apply w-full border-[1px] border-solid border-white py-[15px] mt-[25px]
    laptop:py-2.5 laptop:mt-[15px] laptop:text-xs;
}

