@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  src: url('../assets/font/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	outline: 0;
  @apply transition-all duration-300;
}

/**
 * @see https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
 */
html {
  scroll-behavior: smooth;
  overflow: overlay;
}

a[x-apple-data-detectors] {
	color: inherit !important;
	text-decoration: none !important;
	font-size: inherit !important;
	font-family: inherit !important;
	font-weight: inherit !important;
	line-height: inherit !important;
}

/* 익스플로러 기본 화살표 없애기 */
select::-ms-expand {
  display: none;
}
/* 화살표 기본 css 없애기 */
select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
