@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  src: url('../assets/font/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	outline: 0;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/**
 * @see https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
 */
html {
  scroll-behavior: smooth;
}

a[x-apple-data-detectors] {
	color: inherit !important;
	text-decoration: none !important;
	font-size: inherit !important;
	font-family: inherit !important;
	font-weight: inherit !important;
	line-height: inherit !important;
}
