.quick-menu {
  @apply max-w-base mx-auto my-12.5 tablet:my-7.5 px-3;
}

.quick-menu__fixed-wrapper {
  @apply fixed left-0 bottom-0 w-full h-[61px] border-t-2 border-[#ededed] bg-white;
}

.quick-menu__fixed-list {
  @apply max-w-base h-full grid grid-cols-4 mx-auto;
}

.quick-menu__fixed-list__show {transform: translateY(0);}
.quick-menu__fixed-list__hidden {transform: translateY(100%);}

.quick-menu__fixed-list-item {
  @apply flex flex-row justify-center items-center hover:bg-[#ededed] cursor-pointer mobile:flex-col;
}

.quick-menu__fixed-list-item__label {
  @apply inline-block ml-1 text-base font-bold text-[#424242] tablet:text-xs;
}

.quick-menu__list {
  @apply grid grid-cols-4 gap-1;
}

.quick-menu__list-item {
  @apply flex flex-col justify-center items-center bg-light-gray py-10 cursor-pointer tablet:py-4;
}

.quick-menu__list-item__icon {
  @apply w-full h-15 tablet:h-[42px];
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: center center;
}

.quick-menu__list-item__icon[aria-label="consulting"] {
  background-image: url(../assets/icons/quick-menu/consulting.png);
}

.quick-menu__list-item__icon[aria-label="billing"] {
  background-image: url(../assets/icons/quick-menu/billing.png);
}

.quick-menu__list-item__icon[aria-label="location"] {
  background-image: url(../assets/icons/quick-menu/location.png);
  background-size: auto 100%;
}

.quick-menu__list-item__icon[aria-label="motorcycle"] {
  background-image: url(../assets/icons/quick-menu/motorcycle.png);
  background-size: auto 100%;
}

.quick-menu__list-item__label {
  @apply inline-block mt-1 text-lg font-bold text-semi-dark-gray tablet:text-xs;
}
