.header {
  @apply fixed top-0 w-full h-20 z-50 bg-white flex items-center;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
}

.header__logo {
  @apply flex w-full h-[3.75rem] ml-5;
  background: url(../assets/images/logo-black.png) no-repeat;
  background-size: auto 70%;
  background-position: left center;
}
