.header {
  @apply sticky top-0 w-full h-20 z-50 bg-white flex items-center shadow-base;
}

.header__logo {
  @apply flex w-full h-15 ml-5;
  background: url(../assets/images/logo-black.png) no-repeat;
  background-size: auto 70%;
  background-position: left center;
}
